@import "tailwindcss";
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.scrollbar-custom::-webkit-scrollbar{
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-thumb{
  background-color: #262626;
  cursor: pointer;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track{
  background-color: #c1bcbc;
}